@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/* shard related styles */
body{
  font-family: "Inter", sans-serif;
  background-color: #1A0B2E;
  color: white;
  border: 2px solid #F7E93F;
}
.display-flex{
    display: flex;
}
.btn {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color:  #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

/* main styles */
/* navbar related styles */
.navbar{
    max-width: 992px;
    margin: 0 auto;
    /* border: 2px solid red; */
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;

}

.nav-title{
    font-size: 3rem;
}

.title-style {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  color: transparent;
  background-clip: text;
}
.nav-lists{
    align-items: center;
    gap: 32px;
}
.nav-list{
    list-style: none;
}
.item{
    text-decoration: none;
    color: white;
}
.nav-menu{
    display: none;
}
/* banner related styles */
.banner{
    height: 760px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.banner-container{
    text-align: center;
}
.banner-image img {
    max-width: 350px;
    max-height: 350px;
}
.banner-img-1{
    position: relative;
    margin-top: 75px;
}
.banner-img-2{
    position: absolute;
    top: 27%;
    left: 47%;
   
}
.banner-bag{
    position: absolute;
    background-color: #00FF88;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1.2rem;
    top: 21%;
    left: 55%;


}

.banner-text{
    margin-top: 40px;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-dis{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 24px;

}
.btn-container{
    justify-content: center;
    gap: 12px;
}
.btn-1{
    color: #00FF88;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: 1px solid #00FF88;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}




/* Responsive related styles */
@media screen and (max-width:576px) {
    .navbar{
        margin: 20px;
    }
    .nav-lists,
    .btn{
        display: none;
    }
    .nav-menu{
        display: inline; 
    }
    .banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    }
    .banner-image img {
    max-width: 250px;
    max-height: 250px;
   }

   .banner-img-2 {
    position: absolute;
    top: 27%;
    left: 38%;
}
.banner-title {
    font-size: 2.5rem;
}
.Spotify{
    display: inline;
}

}